*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #2d2a2a;
}
.cinema{
	width: 90%;
	margin-top: 120px;
	padding: 20px;
}
#li__total__coast{
	cursor: pointer;
}
#hall{
	display: inline-block;
	width: 65%;
	float: right;
}
#hall>table{
	width: 100%;
	height: 100%;
}
.screen{
	letter-spacing: 10px;
	background-color: lightgray;
	border: 1px solid gray;
	height: 18px;
	margin-bottom: 20px;
	text-align: center;
	line-height: 18px;
}
td{
	cursor: pointer;
	transition: 1s;
	margin: 7px;
	width: 33px;
	height: 33px;
	border: 1 solid black;
	text-align: center;
	line-height: 75px;
	font-weight: 900;
}
td.unclick{
	background-color: green;
}
td.clicked{
	background-color: red;
}
td.clicked:hover{
	background-color: red;
}
#buy__place{

	padding: 24px;
	position: absolute;
	width: 20%;
	margin: auto;
	margin-left: 50px;
	margin-top: 20px;
}
#buy__place>button{
  	border: none;
  	font: inherit;
  	color: inherit;
  	background-color: rgb(230,230,230);

	font-size: 15px;
	width: 95%;
	height: 35px;
}
button:active, button:focus {
    outline: none;
}
#buy__place>ul>li{
	text-align: center;
	line-height: 35px;
	font-size: 15px;
	background-color: rgb( 245, 245, 245 );
	width: 95%;
	height: 35px;
	margin-bottom: 20px;
}
td:hover{
	background-color: lightgreen;
	transition: 1s;
}
#ticket{
	list-style-type: none;
}
.money{
	color: darkgreen;
}
.remove{
	transition: 0.5s;
	opacity: 0;
}
.cite_icon{
	left: 5px;
	top: 5px;
	width: 150px;
	height: 150px;
	position: absolute;
	z-index: 1;
}
.head__name{
	left: 12%;
	top: 2%;
	position: absolute;
	z-index: 1;
	color: pink;
	font-size: 33px;
	letter-spacing: 10px;
}